@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}

.bg-purple {
    background: linear-gradient(180deg, #583CCA -1.68%, #1C104F 101.96%);
    width: 80%;
    height: 500px;
}

.bg-violet {
    background: #583CCA;
    width: 20%;
    height: 500px;
}

.bg-white {
    background: #FFFFFF;
    width: 80%;
    height: 100%;
}

.bg-gray {
    background: #F6F6F6;
    width: 20%;
    height: 85vh;
}

.mockup {
    position: fixed;
    right: 10%;
    margin-top: 5%;
}

.profile-ana,
.profile-matheus,
.profile-claudia {
    position: absolute;
    z-index: 1000;
    right: 11.6%;
    top: 15%;
}

.header {
    margin: 5% 0 0 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70%;
    width: 50%;
}

.title-one {
    color: #F6F6F6;
    font-size: 48px;
    font-weight: 700;
    line-height: 57px;
    letter-spacing: 0.007rem;
    width: 350px;
    background: linear-gradient(to left, #FD6C6C, #72FB07, #FFCC16, #C871F1, #16FF81, #C871F1);
    background-size: 400%;
    word-spacing: 5px;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        background-position: 0 100%;
    }
    50% {
        background-position: 100% 0;
    }
    100% {
        background-position: 0 100%;
    }
}

.title-two, 
.title-three {
    color: #F6F6F6;
    font-size: 48px;
    font-weight: 400;
    line-height: 57px;
    letter-spacing: 0.007rem;
}

.content-body {
    margin: 5% 0 0 10%;
    display: flex;
    flex-direction: column;
    width: 70%;
}

.appStore,
.googlePlay {
    cursor: pointer;
    text-decoration: none;
    margin-right: 15px;
}

.facebook, .youtube,
.spotify, .instagram {
    cursor: pointer;
    text-decoration: none;
    margin-right: 30px;
}

.title-links, .title-redes {
    color: #2D2828;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.007rem;
    line-height: 19px;
    margin-bottom: 15px;
}

.social-media {
    margin: 40px 0 65px 0;
}

.text-infos {
    color: #A1A1A1;
    font-size: 13px;
    font-weight: 300;
    letter-spacing: 0.007rem;
    line-height: 16px;
    margin: 65px 0 65px 0;
    width: 85%;
}

.footer {
    margin: 60px 0 70px 10%;
}

.text-footer {
    color: #5A5A5A;
    font-size: 15px;
    font-weight: 300;
    letter-spacing: 0.007rem;
    line-height: 16px;
}

.content-footer {
    display: flex;
    justify-content: space-between;
    width: 65%;
}

.lines {
    border: 1px solid #A1A1A1;
    margin: 0;
    width: 70%;
}

@media (max-width: 1400px) {
    .img-phone {
        height: 550px;
    }

    .profile-ana,
    .profile-matheus,
    .profile-claudia {
        height: 435px;
    }
}

@media (min-width: 1025px) {
    .mockup-mobile {
        display: none;
    }
}

/* mobile */
@media (min-width: 350px) and (max-width: 425px) { 
    .bg-purple {
        height: 830px;
        width: 95%;
    }

    .bg-violet {
        height: 830px;
        width: 5%;
    }

    .bg-white {
        width: 95%;
    }

    .bg-gray {
        width: 5%;
    }

    .header {
        align-items: center;
        height: 40%;
        margin-top: 20%;
        width: 90%;
    }

    .title-one, .title-two, 
    .title-three {
        line-height: 45px;
        font-size: 34px;
        text-align: center;
    }

    .content-body {
        align-items: center;
        margin-top: -90%;
        width: 90%;
    }

    .title-links {
        color: #F6F6F6;
        text-align: center;
    }

    .appStore {
        margin-right: 0px;
    }

    .social-media {
        margin-top: 700px;
    }

    .title-redes {
        text-align: center;
    }

    .instagram {
        margin-right: 0;
    }

    .lines {
        width: 85%;
    }

    .text-infos {
        padding: 0 25px 0 25px;
        width: 100%;
    }

    .text-termos {
        display: none;
    }

    .content-footer {
        justify-content: center;
        width: 100%;
    }

    .mock-desktop {
        display: none;
    }

    .mockup-mobile {
        position: absolute;
        margin-top: 185px;
    }
}

/* tablet */
@media (min-width: 426px) and (max-width: 1025px) {
    .bg-purple {
        height: 950px;
        width: 95%;
    }

    .bg-violet {
        height: 950px;
        width: 5%;
    }

    .bg-white {
        width: 95%;
    }

    .bg-gray {
        height: 110vh;
        width: 5%;
    }

    .header {
        align-items: center;
        height: 40%;
        margin-top: 10%;
        width: 90%;
    }

    .title-one, .title-two, 
    .title-three {
        line-height: 45px;
        font-size: 34px;
        text-align: center;
    }

    .content-body {
        align-items: center;
        margin-top: -50%;
        width: 90%;
    }

    .title-links {
        color: #F6F6F6;
        text-align: center;
    }

    .appStore {
        margin-right: 0px;
    }

    .social-media {
        margin-top: 820px;
    }

    .title-redes {
        text-align: center;
    }

    .instagram {
        margin-right: 0;
    }

    .lines {
        width: 85%;
    }

    .text-infos {
        padding: 0 50px 0 50px;
        width: 100%;
    }

    .text-termos {
        display: none;
    }

    .content-footer {
        justify-content: center;
        width: 100%;
    }

    .mock-desktop {
        display: none;
    }

    .mockup-mobile {
        position: absolute;
        margin-top: 185px;
    }

    .img-phone {
        height: 650px;
    }

    .profile-ana,
    .profile-matheus,
    .profile-claudia {
        height: 510px;
    }
}